body {
    font-family: roboto;
    background-color: #0ea0e7;
}

.masuk {
    align-content: center;
    background-color: #fff;
    margin: 130px auto;
    width: 320px;
    padding: 10px 20px 50px 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 0px;
    -webkit-box-align: center;
}

.isi {
    background-color: #d5dcea;
    width: 300px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0px;
}

.option {
    background-color: #d5dcea;
    width: 320px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0px;
}


.label {
    font-size: 1rem;
    font-style: bold;
}

.tombol1 {
    font-size: 1rem;
    width: 320px;
    background-color: #5183e0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    text-transform: uppercase;
}

.tombol2 {
    font-size: 1rem;
    font-weight: bold;
    width: 320px;
    background-color: transparent;
    color: rgb(63, 63, 63);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    text-transform: uppercase;
}

.tombol1:hover {
    background-color: #1352b6;
}

.tombol2:hover {
    color: #5183e0;
    border: block;
    margin: none;
}

.alert-gagal {
    background-color: #c02626;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.alert-sukses {
    background-color: #38c026;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
}